<launch>	 

	<param name="robot_description" command="$(find xacro)/xacro.py $(find u06)/urdf/arm2r.urdf.xacro" />
	<rosparam param="source_list">[/calibrated/joint_states]</rosparam>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find u06)/urdf.rviz" />
	
</launch>
